h1 {
  font-size: 4em;
}
h1 > small {
  color: white;
}

.App {
  text-align: center;
  color: #8C8B81;
  min-height: calc(100vh - 200px);
}

.body-container {
  background-color: #013440;
  color: white;
  min-height: calc(100vh - 215px);
}
.stock-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #013440;
}
.stock-img {
  width: 80%;
  margin: 0;
  float: left;
  border: 5px solid white;
}
.item-container {
  flex: 1 1 40vw;
  display: flex;
  padding: 20px;
  margin: 20px;
  background-color: #8C8B81;
  border: 5px solid #59554C;
  /*border-radius: 5px;*/
  /*text-align: center;*/
  color: white;
}
.item-title {
  font-weight: bold;
  font-size: 2em;
  text-shadow: 1px 1px 4px black;
}
.item-subtitle {
  font-size: 1.5em;
  text-shadow: 1px 1px 4px black;
}
.item-price {
  line-height: 2em;
  font-size: 1.5em;
  color: darkred;
  /*background-color: #59554C;*/
  text-decoration: underline;
}
.item-sub-container {
  background-color: rgba(140, 139, 129, 0.5);
  flex: 1 0 50%;
}
.nav-link {
  line-height: 1.5em;
  margin: 0 5px;
  padding: 5px 10px;
  position: relative;
  top: 15px;
}
.active {
  background-color: white;
  color: black;
  text-decoration: none;
}
